$webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
$webResourceManager.requireResource("com.atlassian.auiplugin:aui-button")
$webResourceManager.requireResource("com.atlassian.auiplugin:aui-toggle")

<html>
<head>
    <title>Agile Planning Platform</title>
    <!-- atl.general for general jira page -->
    <meta name="decorator" content="atl.general">
</head>
<body>
<div id="page">

    <div class="aui-page-header">
        <div class="aui-page-header-inner">
            <div class="aui-page-header-image">
                <span class="aui-avatar aui-avatar-project aui-avatar-large">
                    <span class="aui-avatar-inner">
                        <img src="/images/pluginLogo.png" alt="" role="presentation"/>
                    </span>
                </span>

            </div>
            <div class="aui-page-header-main">
                <h1>
                    Agile Planning Platform
                </h1>
                <ol class="aui-nav aui-nav-breadcrumbs">
                </ol>
            </div>
        </div>
    </div>
    <main class="aui-page-panel" id="main" role="main">
        <div style="width: 100%;overflow:auto;" class="aui-page-panel-inner">
            <nav style="float:left; width: 20%" class="aui-page-panel-nav">
                <div class="aui-nav-heading" title="Members">
                    <strong>Members</strong>
                </div>
                <ul class="aui-nav" title="Members actions">
                    <li>
                        <a class="aui-nav-item" href="#">
                            <span class="aui-icon aui-icon-small aui-iconfont-people-group"></span>
                            <span class="aui-nav-item-label">Manage Teams</span>
                        </a>
                    </li>
                    <li>
                        <a class="aui-nav-item" href="#">
                            <span class="aui-icon aui-icon-small aui-iconfont-invite-team"></span>
                            <span class="aui-nav-item-label">Add Team Members</span>
                        </a>
                    </li>
                </ul>

                <div class="aui-nav-heading" title="Requests">
                    <strong>Requests</strong>
                </div>
                <ul class="aui-nav" title="Requests actions">
                    <li>
                        <a class="aui-nav-item" href="#">
                            <span class="aui-icon aui-icon-small aui-iconfont-list-add"></span>
                            <span class="aui-nav-item-label">Create Request</span>
                        </a>
                    </li>
                    <li>
                        <a class="aui-nav-item" href="#">
                            <span class="aui-icon aui-icon-small aui-iconfont-list"></span>
                            <span class="aui-nav-item-label">Request Overview</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <div style="float:left;width: 80%" class="aui-page-panel-content">
                <nav class="aui-navgroup aui-navgroup-horizontal">
                    <div class="aui-tabs horizontal-tabs">
                        <ul class="tabs-menu">
                            <li class="menu-item active-tab">
                                <a href="#personal-calendar">Personal Calendar</a>
                            </li>
                            <li class="menu-item">
                                <a href="#teams-calendar">Teams Calendar</a>
                            </li>
                            <li class="menu-item">
                                <a href="#request-overview">Request Overview</a>
                            </li>
                        </ul>
                        <div class="tabs-pane active-pane" id="personal-calendar">
                            <h2>This is tab 1</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                        <div class="tabs-pane" id="teams-calendar">
                            <h2>This is tab 2</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                        <!--Content of the Request Overview tab-->
                        <div class="tabs-pane" id="request-overview">
                            <div class="aui-group">
                                <div class="aui-item">
                                    <h2 style="float: left">Request Overview</h2>
                                </div>
                                <div class="aui-item">
                                    <div style="float: right" class="aui-buttons">
                                        <button class="aui-button aui-dropdown2-trigger"
                                                aria-controls="example-dropdown">Export Requests
                                        </button>
                                        <button class="aui-button">Go To Advanced Search</button>
                                        <button class="aui-button">
                                            <span class="aui-icon aui-icon-small aui-iconfont-list "></span>List View
                                        </button>
                                        <button class="aui-button">
                                            <span class="aui-icon aui-icon-small aui-iconfont-detail-view"></span>Detail
                                            View
                                        </button>
                                        <button aria-controls="compact-button-dropdown"
                                                class="aui-button aui-button-compact aui-button-subtle aui-dropdown2-trigger-arrowless">
                                            <span class="aui-icon aui-icon-small aui-iconfont-more">More</span></button>
                                    </div>
                                </div>
                            </div>
                            <div class="aui-group">
                                <form style="float: left" class="aui">
                                    <input id="search-issues" placeholder="Search Issues" type="text" class="text">
                                </form>
                                <div class="aui-buttons">
                                    <button class="aui-button aui-button-primary aui-dropdown2-trigger"
                                            aria-controls="example-dropdown">Project: Agile Planing Platform
                                    </button>
                                    <button class="aui-button aui-dropdown2-trigger"
                                            aria-controls="example-dropdown">Type
                                    </button>
                                    <button class="aui-button aui-dropdown2-trigger"
                                            aria-controls="example-dropdown">Assignee
                                    </button>
                                    <button class="aui-button">More
                                        <span class="aui-icon aui-icon-small aui-iconfont-add"></span></button>
                                </div>
                                <div style="float: right">
                                    <aui-label for="JQL-switch">Use JQL</aui-label>
                                    <aui-toggle id="JQL-switch" label="use JQL"></aui-toggle>
                                </div>

                            </div>
                            <table class="aui aui-table-sortable">
                                <thead>
                                <tr>
                                    <th>Type</th>
                                    <th class="aui-table-column-issue-key">Issue key</th>
                                    <th class="aui-table-column-unsortable">Summary</th>
                                    <th>Assignee</th>
                                    <th>Reporter</th>
                                    <th>P</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </nav>
            </div>
        </div>


    </main>
</div>

<footer id="footer" role="contentinfo">
    <section class="footer-body">
        <div id="footer-logo"><a href="https://www.atlassian.com/" target="_blank">Atlassian</a></div>
    </section>
</footer>

</body>
</html>