{namespace servlet.ui}

{template .dynamictable}
    {webResourceManager_requireResourcesForContext('dynamictable')}

    <div id="maincontainer">
        <div id="container">
        </div>
    </div>
{/template}
